
@font-face{
  font-family: "Myriad Pro";
  src: url(./fonts/MYRIADPRO-REGULAR.OTF);
}

*{
  margin: 0;
  font-family: "Myriad Pro";
  box-sizing: border-box;
}



.page-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 900px;
  overflow: hidden;
}

.header-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: absolute;
}


.header-title h1 {
  margin-top: 77px;
  margin-bottom: 15px;
  font-size: 24;
  color: #546130;
}

.header-title h2 {
  font-size: 24;
  color: #2d3b09;
  
}

.content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1366px;
  height: 100%;
  background-color: #454545;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 400px;
}

.card-img img{
  width: 300px;
  height: 200px;
  border: 10px solid #6f6f6f;
  
}
.card-text h2{
  font-weight: normal;
  font-size: 24px;
  color: #ffff;
  margin: 10px;
}
.card-text h3{
  font-weight: normal;
  font-size: 16px;
  color: #ffff;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1366px;
  height: 100%;
  background-color: #6f6f6f;
  flex-wrap: wrap;
  overflow: hidden;
}

.about-img img {
  width: 386px;
  max-width: 90%;
  height: 386px;
  border: 10px solid #343434;
  margin: 20px;
  border-radius: 50%;
  
}

.about-text{
  width: 60%;
  height: 100%;
}

.about-text h2{
  font-weight: normal;
  font-size: 24px;
  color: #ffff;
}
.about-text h3{
  font-weight: normal;
  font-size: 16px;
  color: #ffff;
  margin:20px 0px 20px 0px;
}

#about-text-bold {
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #454545;
  height: 50px;
  color: #ffff;
}

@media (max-width: 768px) { 

  .page-header{
    flex-direction: column-reverse;
    margin-bottom: -10px;
  }
  .header-title{
    position: relative;
    background-color: #454545;
  }
 
  .page-header img{
    max-width:100%;
    position: relative;
  }

  .header-title h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30;
    color: #ffff;
  }
  
  .header-title h2 {
    font-size: 16;
    color: #ffff;
    font-weight: 400;
    margin-bottom: 20px;
    
  }
}


